{% extends "base.html" %}

{% block content %}
<h1>Apache Logs Parser</h1>
<form method="POST" action=" {{ url_for('index') }}" enctype="multipart/form-data" class="mt-5">
    <div class="form-group d-flex justify-content-between">
      <input type="file" class="form-control-file" id="exampleFormControlFile1" name="log_file" required>
      <button type="submit" name="button" class="btn btn-primary btn-sm">Submit</button>
    </div>
  </form>
  <div class="'mt-5">
{% for item in ips%}
<p>{{ item["ip"] }} - {{ item["counts"] }}</p>

{% endfor %}
</div>
<div class="'mt-5">
{% for item in ips%}
<p>deny from {{ item["ip"] }}</p>

{% endfor %}
</div>
{% endblock %}    